@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}